@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
    padding: 2rem;
    /*background-color: rgb(14, 14, 14);*/
}

.menu {
    position: fixed;
    z-index: 1000;
    width: 150px;
    background: #1b1a1a;
    border-radius: 5px;
    display: none;
    list-style: none;
}

.menu.open {
    display: block;
}

.menu .menu-item {
    padding: 8px 10px;
    font-size: 1rem;
    color: #eee;
    cursor: pointer;
    transition: background-color .2s ease-in;
    border-radius: inherit;
}

.menu .menu-item:hover {
    background: #343434;
}

.customMessage {
        border: 2px solid rgb(11, 9, 70);
        width: 250px;
        height: 200px;
        display: none;
        border-top-left-radius: 10px;
        padding-top: 5px;
}

.imgCustomMessage {
    width: 250px;
    height: 200px;
    margin-left: -1.5px;
}

.jason-background {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 37vw;
    height: fit-content;
    transform: translateX(-50%);
    background-image: url('./assets/jason-no-back.png');
    background-repeat: no-repeat;
    background-size: contain;
    aspect-ratio: 1/1;
}


/*стили для модуля биткоин*/
.comment-box {
    position: absolute;
    top: 30vw;
    left: 15vw;
    padding: 20px 30px;
    border: 2px solid red;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    font-weight: 600;
    color: black;
    font-family: sans-serif;
}

.comment-box::after {
    content: '';
    position: absolute;
    bottom: -6px;
    right: -11px;
    transform: rotate(-45deg);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid red;
}


.button {
    width: 150px;
    height: 50px;
    background: rgb(5, 2, 69);
    top: 50%;
    border-radius: 15px;
    font-size: 15px;
    color: white;
}

.button:hover {
    box-shadow: 0 4px 4px rgba(39, 39, 39, 0.3), /* Жёлтый цвет */ 0 6px 10px rgba(4, 252, 28, 0.1); /* Зелёный цвет */ 

}